zz/.DS_Store
zz/dev_main copy.ipynb
zz/Icon
zz/TODO
zz/usr_utils.py
zz/utils.ipynb
zz/0.0.1/.DS_Store
zz/0.0.1/Icon
zz/PartitionFolder-master-master/.DS_Store
zz/PartitionFolder-master-master/Icon
zz/zz/ctl_utils.py
zz/zz/dev_main copy.ipynb
zz/zz/dev_SplitFolder_v020.ipynb
zz/zz/Icon
zz/zz/PartitionFolder-0.0.1.ipynb
zz/zz/PartitionFolder-0.0.1.py
.DS_Store
Icon?
src/Icon?
Icon